{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <title>Takumi's Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/portfolio/portfolio.css' %}">
        
    </head>

    <body>
        <!-- ナビゲーションバー -->
        <nav id="navbar" class="navbar is-fixed-top">
            <div class="navbar-brand">
                
                <a class="navbar-item" href="/#title_span">
                    Top
                </a>
                <a class="navbar-item" href="/#Plofile">
                    Profile
                </a>
                <a class="navbar-item" href="/#Works">
                    Works
                </a>
                <a class="navbar-item" href="/#Contact">
                    Contact
                </a>
                
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </body>

</html>