{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<h1 id="site_title" class="title is-spaced has-text-weight-large">
    <span id="title_span">Nakajima Takumi's Portfolio</span>
</h1>

<div id=Plofile class="content">
    <h1>Plofile</h1>
    <table id="plofiletable" style="border:none" class="table is-hoverable">
        <tr class="plofiletable">
            <td>Name</td>
            <td>中島 拓己　<span id =myname>Nakajima Takumi</span></td>
        </tr>
        <tr class="plofiletable">
            <td>University</td>
            <td>立正大学環境システム学科</td>
        </tr>
        <tr class="plofiletable">
            <td>Birthday</td>
            <td>1998.4.22</td>
        </tr>
    </table>
</div>

<div id="Works" class="content">
    <h1>Works</h1>
    {% for work in works %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{work.title}}
            </p>
        </header>
        <div class="card-image">
            <figure class="image">
                <img src="{{work.thumbnail.url}}" alt="">
            </figure>
        </div>
        <div class="card-content">
            <h6>使用言語など</h6>
            <p>
                <ul class="tool_list">
                {% for tool in work.related_tool.all %}
                {% if tool.tool_class == "1" %}
                    <li>{{tool.tool_name}}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </p>
            <p>
                <ul class="tool_list">
                {% for tool in work.related_tool.all %}
                {% if tool.tool_class == "2" %}
                    <li>{{tool.tool_name}} </li>
                {% endif %}
                {% endfor %}
                </ul>
            </p>
        </div>
        <footer class="card-footer">
            <a href="{% url 'app_detail' pk=work.pk %}" class="card-footer-item">紹介ページへ</a>
            <a href="{{work.URL.url}}" class="card-footer-item">サイトへ</a>
        </footer>
    </div>
    {% endfor %}
</div>

<div id="Contact" class="content">
    <h1>Contact</h1>
    <div id="contact_link">
        <a href="mailto:nakajin7110@gmail.com"><img class="icons" src="static/images/mail.svg" ></a>
        <a href="https://github.com/sorara7110"><img class="icons" src="static/images/mark-github.svg" ></a>
    </div>
</div>

{% endblock %}