/* ナビバー */
#nav_title {
    padding-left: 2.0rem;
    height: 1.6em;
    font-size: 2.5em;
    font-weight: bold
}

.navbar {
    background-color: #f5b1aa;
}

/* 本文 */
@media screen and (min-width: 768px) {
    #table {
        width: 31.0rem;
    }
}

@media screen and (max-width: 767px) {
    #table {
        margin-left: -0.5rem;
        width: 19.0rem;
        font-size: 0.85rem;
    }
}

#result {
    padding-left: 0.5rem;
}

#table {
    z-index:1;
    margin-top: -1.5rem;
    padding-left: 0.1rem;
}

#graph {
    z-index:2;
    margin-top: -7.0rem;
    padding-left: 0.7rem;
}