{% extends 'calculator/base.html' %}
{% load widget_tweaks %}
{% block content %}

<section class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <div class="content">
              <!-- タイトル、説明 -->        
                <h1 id="site_title" class="title is-spaced has-text-weight-medium is-family-monospace">多様度指数計算機</h1>
                <p class="pl-1">csvファイルを読み込みShannon-Weaverの多様度指数H'を算出します。<br>対数の底は2で計算しています。<br>以下の形式のcsvファイルを読み込んでください。<br></p>
                    <table id="table" class="table is-bordered">
                        <tbody>
                          <tr>
                            <th></th>
                            <th>地点ⅰ</th>
                            <th>地点ⅱ</th>
                            <th>...</th>
                            <th>地点n</th>
                          </tr>
                          <tr>
                            <th>種1</th>
                            <td>(ⅰ, 1 )の個体数</td>
                            <td>(ⅱ, 1 )の個体数</td>
                            <td></td>
                            <td>(n, 1 )の個体数</td>
                          </tr>
                          <tr>
                            <th>種2</th>
                            <td>(ⅰ, 2 )の個体数</td>
                            <td>(ⅱ, 2 )の個体数</td>
                            <td></td>
                            <td>(n, 2 )の個体数</td>
                          </tr>
                          <tr>
                            <th>...</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th>種n</th>
                            <td>(ⅰ, n )の個体数</td>
                            <td>(ⅱ, n )の個体数</td>
                            <td></td>
                            <td>(n, n )の個体数</td>
                          </tr>
                        </tbody>
                      </table>
                      
                <!-- csvのアップロードフォーム -->
                <form method="POST" enctype="multipart/form-data" accept=".csv">{% csrf_token %}
                    <div class="file">
                        <label class="file-label">
                            {% csrf_token %}
                            {{ form.file|add_class:"file-input" }}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    ファイルを選択
                                </span>
                            </span>
                        </label>
                    </div>        
                    <div class="control">
                        <button class="button button is-outlined mt-3" type="submit">アップロード</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}