/* ナビゲーションバー */
#navbar {
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, .05);
}

/* タイトル */
@media screen and (min-width: 768px) {
    #site_title {
        margin-top: 1.64em;
        padding-top: 1.2vmax;
        padding-left: 1.5vmax;
        background-image: url("../images/basketflower.jpg");
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        width: 90vw;
        height: 91vh;
    }

    #title_span {
        font-size: 4.6vw;
        padding-top: 3em;
    }
}

@media screen and (max-width: 767px) {
    #site_title {
        margin-top: 1.7em;
        padding-top: 1.2vmax;
        padding-left: 1.5vmax;
        background-image: url("../images/basketflower.jpg");
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        width: 90vw;
        height: 150vw;
    }
    
    #title_span {
        font-size: 12.0vw;
        padding-top: 3em;
    }
}

#page_title {
    margin-top: 4.5rem;
    padding-left: 1.5vmax;
    font-size: 1.6em;
    font-weight: bold;
}

/* 本文 */

body{
    overflow-x: hidden;
}

.content {
    padding-left: 4.0vmin;
    padding-top: 3em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.content h1 {
    font-size: 4.0vmax;
}

.content h2 {
    font-size: 1.3em;
}

#published_date {
    padding-left: 2.0vmax;
    font-size: 0.8em;
    color: #999999;
}

#thumbnail {
    margin-top: 1.0em;
    position: left top;
    width: 85vmin;
    height: auto;
    box-shadow: 
        2px 3px 7px 0px rgba(0, 0, 0, .1), 
		0px -1px 4px 0px rgba(0, 0, 0, .07);
}

.text {
    margin-left: 0.5em;
}

.text_box {
    width: 90vmin;
    margin-left: 0.5em;
}

/* プロフィール */

#plofiletable {
    height: 8em;
    width: 85vmin;
}

#myname {
    font-size: 0.9em;
}


/* 制作物 */
.card_area {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
}

.card {
    margin-right: 1.0rem;
    margin-bottom: 1.0rem;
    width: 21.5rem;
    height: fit-content;
    font-size: 1.0rem;
}

.card-image{
    margin-left: -2.0em;
    margin-right: -2.0em;
}

.card-content{
    margin-left: -0.5rem;
    height:11.5rem
}

.tool_list li {
    display: inline-block;
    font-size: 1.0em;
    
    margin-left: -1.5rem;
}

.tool_list li:not(:last-child)::after {
    content: ', 　';
}


/* コンタクト */

#contact_link {
    margin-bottom: 1em;
    margin-left: 1em;
}

.icons {
    margin-right: 1.0em;
    width: 3.0em;
    height: 3.0em;
}